{% extends "base.html" %}
{% block title %}Cart{% endblock %}

{% block content %}
<div class="card">
  <h2 class="title">🛒 Savat</h2>
  <p class="muted small">Bu yerda qo‘shgan mahsulotlaringiz ko‘rinadi.</p>
</div>

{% if items %}
  {% for i in items %}
    <div class="card">
      <div class="row">
        <div style="flex:1;">
          <h3 class="title">{{ i.product.title }}</h3>
          <p class="muted small">Narx: <b>{{ i.product.price }}</b> | Soni: <b>{{ i.qty }}</b></p>
          <p class="small muted">Item ID: {{ i.id }}</p>
        </div>

        <div style="margin-left:auto;">
          {% if i.product.image %}
            <img class="img" src="{{ i.product.image.url }}" alt="product" />
          {% else %}
            <div class="img" style="display:flex;align-items:center;justify-content:center;width:220px;height:140px;">
              <span class="muted small">Rasm yo‘q</span>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="card">
    <h3 class="title">Umumiy: {{ total }}</h3>
    <a class="btn" href="{% url 'checkout' %}">✅ Sotib olish (Checkout)</a>
    <a class="btn outline" href="{% url 'home' %}">⬅️ Mahsulotlarga qaytish</a>
  </div>

{% else %}
  <div class="card">
    <h3 class="title">Savatingiz bo‘sh</h3>
    <a class="btn" href="{% url 'home' %}">Mahsulotlarni ko‘rish</a>
  </div>
{% endif %}
{% endblock %}
